In [3]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import csv
%matplotlib inline

In [4]:
data = pd.read_csv('Wholesale_customers_data.csv', sep = ',', engine = 'python')

In [5]:
data.head

<bound method NDFrame.head of      Channel  Region  Fresh   Milk  Grocery  Frozen  Detergents_Paper  \
0          2       3  12669   9656     7561     214              2674
1          2       3   7057   9810     9568    1762              3293
2          2       3   6353   8808     7684    2405              3516
3          1       3  13265   1196     4221    6404               507
4          2       3  22615   5410     7198    3915              1777
5          2       3   9413   8259     5126     666              1795
6          2       3  12126   3199     6975     480              3140
7          2       3   7579   4956     9426    1669              3321
8          1       3   5963   3648     6192     425              1716
9          2       3   6006  11093    18881    1159              7425
10         2       3   3366   5403    12974    4400              5977
11         2       3  13146   1124     4523    1420               549
12         2       3  31714  12319    11757     287              3881
13         2       3  21217   6208    14982    3095              6707
14         2       3  24653   9465    12091     294              5058
15         1       3  10253   1114     3821     397               964
16         2       3   1020   8816    12121     134              4508
17         1       3   5876   6157     2933     839               370
18         2       3  18601   6327    10099    2205              2767
19         1       3   7780   2495     9464     669              2518
20         2       3  17546   4519     4602    1066              2259
21         1       3   5567    871     2010    3383               375
22         1       3  31276   1917     4469    9408              2381
23         2       3  26373  36423    22019    5154              4337
24         2       3  22647   9776    13792    2915              4482
25         2       3  16165   4230     7595     201              4003
26         1       3   9898    961     2861    3151               242
27         1       3  14276    803     3045     485               100
28         2       3   4113  20484    25957    1158              8604
29         1       3  43088   2100     2609    1200              1107
..       ...     ...    ...    ...      ...     ...               ...
410        1       3   6633   2096     4563    1389              1860
411        1       3   2126   3289     3281    1535               235
412        1       3     97   3605    12400      98              2970
413        1       3   4983   4859     6633   17866               912
414        1       3   5969   1990     3417    5679              1135
415        2       3   7842   6046     8552    1691              3540
416        2       3   4389  10940    10908     848              6728
417        1       3   5065   5499    11055     364              3485
418        2       3    660   8494    18622     133              6740
419        1       3   8861   3783     2223     633              1580
420        1       3   4456   5266    13227      25              6818
421        2       3  17063   4847     9053    1031              3415
422        1       3  26400   1377     4172     830               948
423        2       3  17565   3686     4657    1059              1803
424        2       3  16980   2884    12232     874              3213
425        1       3  11243   2408     2593   15348               108
426        1       3  13134   9347    14316    3141              5079
427        1       3  31012  16687     5429   15082               439
428        1       3   3047   5970     4910    2198               850
429        1       3   8607   1750     3580      47                84
430        1       3   3097   4230    16483     575               241
431        1       3   8533   5506     5160   13486              1377
432        1       3  21117   1162     4754     269              1328
433        1       3   1982   3218     1493    1541               356
434        1       3  16731   3922     7994     688              2371
435        1       3  29703  12051    16027   13135               182
436        1       3  39228   1431      764    4510                93
437        2       3  14531  15488    30243     437             14841
438        1       3  10290   1981     2232    1038               168
439        1       3   2787   1698     2510      65               477

     Delicassen
0          1338
1          1776
2          7844
3          1788
4          5185
5          1451
6           545
7          2566
8           750
9          2098
10         1744
11          497
12         2931
13          602
14         2168
15          412
16         1080
17         4478
18         3181
19          501
20         2124
21          569
22         4334
23        16523
24         5778
25           57
26          833
27          518
28         5206
29          823
..          ...
410        1892
411        4365
412          62
413        2435
414         290
415        1874
416         993
417        1063
418         776
419        1521
420        1393
421        1784
422        1218
423         668
424         249
425        1886
426        1894
427        1163
428         317
429        2501
430        2080
431        1498
432         395
433        1449
434         838
435        2204
436        2346
437        1867
438        2125
439          52

[440 rows x 8 columns]>

In [6]:
data.index

RangeIndex(start=0, stop=440, step=1)

In [7]:
print(data.shape)
print(data.columns)

(440, 8)
Index(['Channel', 'Region', 'Fresh', 'Milk', 'Grocery', 'Frozen',
       'Detergents_Paper', 'Delicassen'],
      dtype='object')

In [8]:
data.describe()

,Channel,Region,Fresh,Milk,Grocery,Frozen,Detergents_Paper,Delicassen
count,440.000000,440.000000,440.000000,440.000000,440.000000,440.000000,440.000000,440.000000
mean,1.322727,2.543182,12000.297727,5796.265909,7951.277273,3071.931818,2881.493182,1524.870455
std,0.468052,0.774272,12647.328865,7380.377175,9503.162829,4854.673333,4767.854448,2820.105937
min,1.000000,1.000000,3.000000,55.000000,3.000000,25.000000,3.000000,3.000000
25%,1.000000,2.000000,3127.750000,1533.000000,2153.000000,742.250000,256.750000,408.250000
50%,1.000000,3.000000,8504.000000,3627.000000,4755.500000,1526.000000,816.500000,965.500000
75%,2.000000,3.000000,16933.750000,7190.250000,10655.750000,3554.250000,3922.000000,1820.250000
max,2.000000,3.000000,112151.000000,73498.000000,92780.000000,60869.000000,40827.000000,47943.000000

In [9]:
#from pandas.plotting import scatter_matrix
#scatter_matrix(data, alpha = .05, figsize = (10, 10))
#pass
#from pandas.tools.plotting import scatter_matrix
#scatter_matrix(data, alpha = .05, figsize = (10, 10))
#pandas.plotting.scatter_matrix

In [10]:
data.corr()

,Channel,Region,Fresh,Milk,Grocery,Frozen,Detergents_Paper,Delicassen
Channel,1.000000,0.062028,-0.169172,0.460720,0.608792,-0.202046,0.636026,0.056011
Region,0.062028,1.000000,0.055287,0.032288,0.007696,-0.021044,-0.001483,0.045212
Fresh,-0.169172,0.055287,1.000000,0.100510,-0.011854,0.345881,-0.101953,0.244690
Milk,0.460720,0.032288,0.100510,1.000000,0.728335,0.123994,0.661816,0.406368
Grocery,0.608792,0.007696,-0.011854,0.728335,1.000000,-0.040193,0.924641,0.205497
Frozen,-0.202046,-0.021044,0.345881,0.123994,-0.040193,1.000000,-0.131525,0.390947
Detergents_Paper,0.636026,-0.001483,-0.101953,0.661816,0.924641,-0.131525,1.000000,0.069291
Delicassen,0.056011,0.045212,0.244690,0.406368,0.205497,0.390947,0.069291,1.000000

In [11]:
#

In [12]:
data.describe(include = 'all')

,Channel,Region,Fresh,Milk,Grocery,Frozen,Detergents_Paper,Delicassen
count,440.000000,440.000000,440.000000,440.000000,440.000000,440.000000,440.000000,440.000000
mean,1.322727,2.543182,12000.297727,5796.265909,7951.277273,3071.931818,2881.493182,1524.870455
std,0.468052,0.774272,12647.328865,7380.377175,9503.162829,4854.673333,4767.854448,2820.105937
min,1.000000,1.000000,3.000000,55.000000,3.000000,25.000000,3.000000,3.000000
25%,1.000000,2.000000,3127.750000,1533.000000,2153.000000,742.250000,256.750000,408.250000
50%,1.000000,3.000000,8504.000000,3627.000000,4755.500000,1526.000000,816.500000,965.500000
75%,2.000000,3.000000,16933.750000,7190.250000,10655.750000,3554.250000,3922.000000,1820.250000
max,2.000000,3.000000,112151.000000,73498.000000,92780.000000,60869.000000,40827.000000,47943.000000

In [13]:
categorical_columns = [c for c in data.columns if data[c].dtype.name == 'object']
numerical_columns   = [c for c in data.columns if data[c].dtype.name != 'object']
print(categorical_columns)
print(numerical_columns)

[]
['Channel', 'Region', 'Fresh', 'Milk', 'Grocery', 'Frozen', 'Detergents_Paper', 'Delicassen']

In [14]:
for c in categorical_columns:
    print(c, data[c].unique())
data.median(axis = 0)

Channel                1.0
Region                 3.0
Fresh               8504.0
Milk                3627.0
Grocery             4755.5
Frozen              1526.0
Detergents_Paper     816.5
Delicassen           965.5
dtype: float64

In [15]:
#data_describe = data.describe(include = [object])
#for c in categorical_columns:
#    data[c] = data[c].fillna(data_describe[c]['top'])

In [16]:
binary_columns    = [c for c in categorical_columns if data_describe[c]['unique'] == 2]
nonbinary_columns = [c for c in categorical_columns if data_describe[c]['unique'] > 2]
print(binary_columns, nonbinary_columns)

[] []

In [17]:
data_numerical = data[numerical_columns]
data_numerical.describe()

,Channel,Region,Fresh,Milk,Grocery,Frozen,Detergents_Paper,Delicassen
count,440.000000,440.000000,440.000000,440.000000,440.000000,440.000000,440.000000,440.000000
mean,1.322727,2.543182,12000.297727,5796.265909,7951.277273,3071.931818,2881.493182,1524.870455
std,0.468052,0.774272,12647.328865,7380.377175,9503.162829,4854.673333,4767.854448,2820.105937
min,1.000000,1.000000,3.000000,55.000000,3.000000,25.000000,3.000000,3.000000
25%,1.000000,2.000000,3127.750000,1533.000000,2153.000000,742.250000,256.750000,408.250000
50%,1.000000,3.000000,8504.000000,3627.000000,4755.500000,1526.000000,816.500000,965.500000
75%,2.000000,3.000000,16933.750000,7190.250000,10655.750000,3554.250000,3922.000000,1820.250000
max,2.000000,3.000000,112151.000000,73498.000000,92780.000000,60869.000000,40827.000000,47943.000000

In [18]:
data_numerical = (data_numerical - data_numerical.mean(axis = 0))/data_numerical.std(axis = 0)

In [19]:
data_numerical.describe()

,Channel,Region,Fresh,Milk,Grocery,Frozen,Detergents_Paper,Delicassen
count,4.400000e+02,4.400000e+02,4.400000e+02,4.400000e+02,4.400000e+02,4.400000e+02,4.400000e+02,4.400000e+02
mean,-1.064805e-16,-4.445939e-16,-5.677277e-17,-6.055762e-17,-6.257621e-17,3.658690e-17,5.500650e-17,-1.135455e-17
std,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
min,-6.895122e-01,-1.993073e+00,-9.486033e-01,-7.779096e-01,-8.363823e-01,-6.276286e-01,-6.037292e-01,-5.396501e-01
25%,-6.895122e-01,-7.015384e-01,-7.015353e-01,-5.776488e-01,-6.101418e-01,-4.798844e-01,-5.505082e-01,-3.959498e-01
50%,-6.895122e-01,5.899967e-01,-2.764455e-01,-2.939234e-01,-3.362856e-01,-3.184420e-01,-4.331074e-01,-1.983509e-01
75%,1.447005e+00,5.899967e-01,3.900786e-01,1.888771e-01,2.845866e-01,9.935132e-02,2.182338e-01,1.047406e-01
max,1.447005e+00,5.899967e-01,7.918724e+00,9.173208e+00,8.926367e+00,1.190545e+01,7.958613e+00,1.645971e+01

In [20]:
data.describe()

,Channel,Region,Fresh,Milk,Grocery,Frozen,Detergents_Paper,Delicassen
count,440.000000,440.000000,440.000000,440.000000,440.000000,440.000000,440.000000,440.000000
mean,1.322727,2.543182,12000.297727,5796.265909,7951.277273,3071.931818,2881.493182,1524.870455
std,0.468052,0.774272,12647.328865,7380.377175,9503.162829,4854.673333,4767.854448,2820.105937
min,1.000000,1.000000,3.000000,55.000000,3.000000,25.000000,3.000000,3.000000
25%,1.000000,2.000000,3127.750000,1533.000000,2153.000000,742.250000,256.750000,408.250000
50%,1.000000,3.000000,8504.000000,3627.000000,4755.500000,1526.000000,816.500000,965.500000
75%,2.000000,3.000000,16933.750000,7190.250000,10655.750000,3554.250000,3922.000000,1820.250000
max,2.000000,3.000000,112151.000000,73498.000000,92780.000000,60869.000000,40827.000000,47943.000000

In [21]:
X = data.drop(('Delicassen'), axis = 1) # выбрасываем столбец 'class'
y = data['Delicassen']
feature_names = X.columns
#print feature_names

In [22]:
type(feature_names)

pandas.core.indexes.base.Index

In [23]:
feature_names

Index(['Channel', 'Region', 'Fresh', 'Milk', 'Grocery', 'Frozen',
       'Detergents_Paper'],
      dtype='object')

In [24]:
print(X.shape)
print(y.shape)
N, d = X.shape

(440, 7)
(440,)

In [25]:
type(y)

pandas.core.series.Series

In [26]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 1)

N_train, _ = X_train.shape 
N_test,  _ = X_test.shape 

print(N_train, N_test)

308 132

In [27]:
#from sklearn.neighbors import KNeighborsClassifier
from sklearn.neighbors import KNeighborsRegressor
knn = KNeighborsRegressor(n_neighbors = 10)
#knn.set_params(n_neighbors=10)
knn.fit(X_train, y_train)

KNeighborsRegressor(algorithm='auto', leaf_size=30, metric='minkowski',
          metric_params=None, n_jobs=1, n_neighbors=10, p=2,
          weights='uniform')

In [28]:
knn
y_train_predict = knn.predict(X_train)
y_test_predict = knn.predict(X_test)

err_train = np.mean(y_train != y_train_predict)
err_test  = np.mean(y_test  != y_test_predict)

print(err_train, err_test)

1.0 1.0

In [29]:
err_test = 1 - knn.score(X_test, y_test)

In [30]:
err_test

0.75523861783837176

In [31]:
from sklearn.metrics import explained_variance_score

In [32]:
print(explained_variance_score(y_test, y_test_predict))

0.251553757782

In [33]:
print(explained_variance_score(y_test, y_test_predict))

0.251553757782

In [37]:
# Долго!
from sklearn.model_selection import GridSearchCV
nnb = [1, 3, 5, 10, 15, 20, 25, 35, 45, 55]
knn = KNeighborsRegressor()
grid = GridSearchCV(knn, param_grid = {'n_neighbors': nnb}, cv=10)
grid.fit(X_train, y_train)

best_cv_err = 1 - grid.best_score_
best_n_neighbors = grid.best_estimator_.n_neighbors
print(best_cv_err, best_n_neighbors)

0.929702224819 55

In [38]:
knn = KNeighborsRegressor(n_neighbors = best_n_neighbors).fit(X_train, y_train)

err_train = np.mean(y_train != knn.predict(X_train))
err_test  = np.mean(y_test  != knn.predict(X_test))

print(err_train, err_test)

1.0 1.0